.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  z-index: 2;
}

.project-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:25px;
  width: 100%;
}

.project-number{
  width: 12%;
  z-index: 2;
  margin-bottom: -104px;
  cursor: pointer;
  opacity: 0;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.blue-line{
  height: 45px;
  width:0;
  background-color: var(--darkBlue);
  transition: all 0.7s ease-in-out;
}

.blue-line-decoration{
  height: 35px;
  width:0;
  background-color: var(--darkBlue);
  transition: all 1.250s;
}

.blue-line-decoration-60{
  width : 60%;
}

.project-number:hover ~ .blue-line{
  width:22%;
}

.project-clicked{
  display: none;
  flex-direction: column;
  height: 100%;
  width:100%;
  /* background-color: pink; */
}

.project-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: yellow; */
  width: 100%;
  height:10%;
}

.nom-du-projet{
  margin-top:50px;
  font-size: 2em;
  margin-left: -50vw;
  transition: all 0.5s;
}

.project-number-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 20px;
}

.project-icon{
  z-index: 2;
  width: 30%;
  margin-bottom: -90px;
  margin-left : -30vw;
  transition: all 0.5s;
}

.project-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 80%;
}

.yellow-rectangle{
  height: 0;
  width: 18%;
  background-color: var(--yellow);
  margin-left:8%;
  transition: all 1s;
}

.yellow-rectangle-appear{
  height: 80%;
}

.project-subject{
  width: 350%;
  color: var(--darkBlue);
  line-height: 30px;
  margin-left: -50vw;
  margin-top: 20%;
  text-align: justify;
  font-size: 1.25em;
  transition: all 1s;
}

.project-subject-appear{
  margin-left : 70%;
}

.project-details{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -50vw;
  margin-top: 30%;
  transition: all 1s;
}

.project-details-appear{
  margin-left : 80%;
}

.realised-for, .realisation-year{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 15%;
}

.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.realised-for > p, .realisation-year > p{
  font-family: 'novaregular';
  font-size: 1.25em;
  margin-left: 15px;
}

.hover-for-more{
  display: flex;
}

#deux, #quatre{
  color: black;
  font-size: 1em;
  font-family: 'novaregular';
  opacity: 0 !important;
  transition: all 0.5s;
}

#un:hover,  #deux{
  opacity : 1;
}

#trois:hover #quatre{
  opacity : 1;
}
.previous-next{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
  padding-right: 3%;
  opacity: 0;
  transition: all 0.5s;
}



/* effet hover sur previous et next */
.previous-next button {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
  position: relative;
  font-family: 'novaregular';
  font-size: 1.5em;
  color: var(--darkBlue);
  cursor: pointer;
  z-index: 2;
}

.previous-next button::before {
	position: absolute;
	top: 60%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.previous-next button:hover::before,
.previous-next button:focus::before {
	color: var(--darkBlue);
	text-shadow: 10px 0 var(--darkBlue), -10px 0 var(--darkBlue);
}

.previous-next button:hover,
.previous-next button:focus {
	color:var(--lightBlue);
}


.margin-left-0{
  margin-left : 0;
}

/* partie droite */
.img-part{
  background-image: url(../img/test1.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}


/* SLIDESHOW */

.slider{
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden;
  display: none;
}

.on-project .slider {
  display: flex;
}

.slide{
  position: absolute;
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  transition: opacity 1s;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity:0;
}

h1{
  color:white;
  padding-right:20px;
}

.current{
  opacity: 1;
}

.un{
  background-image: url(https://placem.at/places?w=800&h=600&txt=&random=1);
}

.deux {
  background-image: url(https://placem.at/places?w=800&h=600&txt=&random=2);
}

.trois {
  background-image: url(https://placem.at/places?w=800&h=600&txt=&random=3);
}

.quatre {
  background-image: url(https://placem.at/places?w=800&h=600&txt=&random=4);
}

.cinq{
  background-image: url(https://placem.at/places?w=800&h=600&txt=&random=5);
}


.controls{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 70px;
  z-index:2;
}

#left, #right{
  cursor: pointer;
  user-select: none; /*empêche la sélection*/
  width: 12%;
  padding : 0 20px;
  /* background-color: #7ed3db;
  border-radius: 50%; */
  stroke: white;
  fill : white;
  /* stroke-width : 1px; */
  /* stroke-dasharray : 0 5px; */

}

#left{
  transform: rotate(180deg);
}
